body {
    background-color: teal;
}

.welcomePage {
    background-color: lavender;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 24px;
}

.welcomePage h1 {
    text-align: center;
}

.welcomePage p {
    text-align: left;
}

#highScoresNav {
    display: block;
    text-align: left;
    padding-left: 30px;
    font-size: 24px;
}
#time {
    color: lightblue;
    display: none;
    text-align: right;
    padding-right: 30px;
    font-size: 24px;
}

#start-button {
    align-self: center;
}

#questionBox {
    display: none;
    background-color: lavender;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 140px;
    margin-right: 140px;
    font-size: 24px;
}
#row {
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

#questionText {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

#answerAText {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

#answerBText {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

#answerCText {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

#answerDText {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}
#answerA {
    margin-bottom: 20px;
}
#answerB {
    margin-bottom: 20px;
}
#answerC {
    margin-bottom: 20px;
}
#answerD {
    margin-bottom: 20px;
}
#reveal {
    text-align: center;
    font-size: 40px;
}
#submitBox {
    background-color: lavender;
    padding: 40px;
    margin: 140px;
    font-size: 24px; 
}
#please h1 {
    text-align: center;
    margin-bottom: 20px;

}
#highScoreReveal {
    background-color: lavender;
    padding: 40px;
    margin: 140px;
    font-size: 24px;
    text-align: center; 
}
