.welcomePage {
    margin: 60px;
    align: "center";
    display: "block";
}
.h1 {
    align-content: "center";
}

.welcomePage p {
    align-content: "center";
}

.hidden {
    display: "none";
}
form {
    display: "block";
    margin-left: 60px;
    margin-right: 60px;
    align: "center";
}